<div class="row">
    <div class="col-md-3 flex-column-cus">
        <div class="profilepic">
            <img src="https://avatars0.githubusercontent.com/u/13105865" class="rounded mx-auto d-block">
        </div>
        <div style="padding: 2vh 0;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary">
                    Total Tasks
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
                    Completed Tasks
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
                    Pending Tasks
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div style="margin: 0.5rem;">
            <button class="btn btn-info">Prev</button>
            <button class="btn btn-info" style="float: right;">Next</button>
        </div>
        <div class="card border-warning mb-3">
            <div class="card-body text-warning">
                <h5 class="card-title">Dummy title</h5>
                <p class="card-text">Dummy description. sdkjfhskdjf kjsdhf kds fksj fhdshfsdf kdsjfdsfksf dsf dskfkdsfkdfkds fsdf ksfh ksdhfksjdhkjfdsf </p>
            </div>
        </div>
        <div class="card border-warning mb-3">
            <div class="card-body text-warning">
                <h5 class="card-title">Dummy title</h5>
                <p class="card-text">Dummy description. sdkjfhskdjf kjsdhf kds fksj fhdshfsdf kdsjfdsfksf dsf dskfkdsfkdfkds fsdf ksfh ksdhfksjdhkjfdsf </p>
            </div>
        </div>
        <div class="card border-warning mb-3">
            <div class="card-body text-warning">
                <h5 class="card-title">Dummy title</h5>
                <p class="card-text">Dummy description. sdkjfhskdjf kjsdhf kds fksj fhdshfsdf kdsjfdsfksf dsf dskfkdsfkdfkds fsdf ksfh ksdhfksjdhkjfdsf </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div style="margin: 0.5rem;">
            <button class="btn btn-info">Prev</button>
            <button class="btn btn-info" style="float: right;">Next</button>
        </div>
        <div class="card border-success mb-3">
            <div class="card-body text-success">
                <h5 class="card-title">Dummy title</h5>
                <p class="card-text">Dummy description. sdkjfhskdjf kjsdhf kds fksj fhdshfsdf kdsjfdsfksf dsf dskfkdsfkdfkds fsdf ksfh ksdhfksjdhkjfdsf </p>
            </div>
        </div>
        <div class="card border-success mb-3">
            <div class="card-body text-success">
                <h5 class="card-title">Dummy title</h5>
                <p class="card-text">Dummy description. sdkjfhskdjf kjsdhf kds fksj fhdshfsdf kdsjfdsfksf dsf dskfkdsfkdfkds fsdf ksfh ksdhfksjdhkjfdsf </p>
            </div>
        </div>
        <div class="card border-success mb-3">
            <div class="card-body text-success">
                <h5 class="card-title">Dummy title</h5>
                <p class="card-text">Dummy description. sdkjfhskdjf kjsdhf kds fksj fhdshfsdf kdsjfdsfksf dsf dskfkdsfkdfkds fsdf ksfh ksdhfksjdhkjfdsf </p>
            </div>
        </div></div>
</div>